.card-box {
  width: 300px;
  height: 500px;
  object-fit: cover;
}
.image {
  height: 60%;
  object-fit: contain;
}
.card-text {
  font-size: 1rem;
}
span {
  font-size: 1.4rem;
  color: blueviolet;
  font-weight: 900;
}
.input{
    margin-top: 4rem;
    width: 98%;
    border:1px solid rgb(172, 172, 172);
    padding: 1rem .5em;
    border-radius: .5em;
}
.input-group-text{
    background-color: none;
    color: grey;
    font-weight: 400;
}

.card-body{
    padding: 1rem;
}
.desc{
  font-size: .8em;
}
